@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/* Application */
@layer base {
    a {
        @apply text-[#2971a7];
    }

    p {
        @apply text-[#666];
    }
}

@layer components {
    .login h2 {
        @apply text-cyan-500 mx-auto mb-2.5 text-center font-bold text-lg;
    }

    .login p {
        @apply mb-2.5 text-[#666];
    }

    .login h3 {
        @apply text-[#666] text-sm text-center font-bold;
    }

    .login ul {
        @apply list-disc list-inside text-[#666] pt-2.5 pl-2.5;
    }

    .login li {
        @apply text-[#666] mb-5;
    }

    .middle-second {
        @apply w-full cursor-pointer text-white mb-2.5 p-2.5;
        @apply rounded-md relative text-center whitespace-normal font-sans;
        @apply inline-block align-middle text-base font-bold ;
        font-size: 120%;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    }

    .middle-second span {
        @apply font-normal text-sm;
    }

    .orange {
        @apply bg-gradient-to-b from-[#f47721] to-[#cb4b0d] border border-opacity-100 border-[#f4772];
    }

    .red {
        @apply bg-gradient-to-b from-[#ff0000] to-[#930202] border border-opacity-100 border-[#ff0000];
    }

    .green {
        @apply bg-gradient-to-b from-[#81b253] to-[#587a39] border border-opacity-100 border-[#81b253];
    }

    .blue {
        @apply bg-gradient-to-b from-[#00acc2] to-[#2971a7] border border-opacity-100 border-[#00acc2];
    }

    .donation {
        height: 57px;
        width: 220px;
        @apply block mb-1.5 bg-transparent bg-no-repeat bg-left-top hover:bg-left-bottom bg-cover;
    }

    .donation-en {
        background-image: url(/images/donations/donations1-en.jpg);
    }

    .donation-es {
        background-image: url(/images/donations/donations1-es.jpg);
    }

    .donation-he {
        background-image: url(/images/donations/donations1-he.jpg);
    }

    .donation-ru {
        background-image: url(/images/donations/donations1-ru.jpg);
    }

    .radiozohar {
        @apply block bg-transparent bg-no-repeat bg-left-top hover:bg-left-bottom bg-cover mb-1.5;
        height: 57px;
        width: 220px;
        background-image: url(/images/radio1.jpg);
    }

    .music {
        @apply block bg-transparent bg-no-repeat bg-left-top hover:bg-left-bottom bg-cover mb-1.5;
        height: 57px;
        width: 220px;
        background-image: url(/images/music.jpg);
    }

    .post-description h2 {
        @apply text-center text-[#00acc2] mb-1 p-0 font-bold text-base;
    }

    .post-description h3 {
        @apply text-center;
    }

    .post-description p {
        @apply text-[#666] mb-1 pl-2;
    }

    .message-body p {
        @apply text-[#666] mb-4 leading-5;
    }

    .message-body h2 {
        @apply mb-4 text-center font-bold;
    }

}
